include ../components/navigation

header.header
  .header-inner
    .container
      .content.header-inner__content
        .header-inner__logo
          a(href="index.html")
            img(src="../../img/logo.svg" alt="logo")
        +navigation("header-inner")
