mixin banner 
    section.banner 
        .container 
            .banner__content 
                .banner__info
                    h3.banner__heading Каждый 7-й день <span>бесплатно</span> 
                    p.banner__text Акция действует при размещении в номерах “Люкс” и “Супер-Люкс” 
                    button.btn.btn_c_white.banner__btn(type="button") 
                            span Забронировать
                            span   
