include footer-items-text

.footer-top 
    .container.footer-top__container 
        .footer-top__content 
            .footer-top__info 
                h2.footer-top__heading Как нас найти
                ul.list.footer-top__list 
                    +footer-items-text()
            .footer-top__map 
