mixin footer-items-text

  li.item.footer-top__item  
    span Адрес
    p Санкт-Петербург, 
    | ул Большая Конюшенная, д 19

  li.item.footer-top__item  
    span Режим работы
    span Ежедневно, с 9:00 до 20:00

  li.item.footer-top__item  
    span Телефон
    a(href="tel:8(800)333-55-99") 8 (800) 333-55-99

  li.item.footer-top__item  
    span Email
    a(href="mailto:info@cat-hotel.ru") info@cat-hotel.ru

  li.item.footer-top__item  
    span Социальные сети
    +social("footer-top")

