include navigation

.footer-bottom 
    .container.footer-bottom__container
        .content.footer-bottom__content 
            .footer-bottom__top 
                .footer-bottom__logo
                    a(href="#")
                        img(src="../../img/logo.svg" alt="logo")
                +navigation("footer-bottom")
            .footer-bottom__copyright
                span &copy; 2019 Все права защищены
                a(href="#") Политика конфинденциальности
                