mixin general() 
    section.general  
        .container.general__container 
                .general__content
                    span Санкт-Петербург
                    h1 Котейка
                    span Уютная гостиница для котов и кошек
                    button.btn.btn_c_white.general__content-btn(type="button") 
                        span Забронировать
                        span   



