mixin popup-thanks
    .wrapper_elem_popup-thanks 
        .popup-thanks
            .popup-thanks__content 
                span.wrapper_elem_close-btn.btn_type_submit-form
                h3.popup-thanks__heading Спасибо за заявку!
                span.popup-thanks__text Мы свяжемся с Вами в ближайшее время
                button.popup-thanks__btn.btn.btn_c_orange.btn_type_submit-form(type="submit") 
                    span Ок
                    span   