include priorities-list

mixin priorities() 
    section.priorities#why_us
        .container 
            .priorities__content    
                h2.priorities__heading Почему мы?
                +priorities-list()  