:root {
  --text-black: #1a212f;
  --text-gray: #848484;
  --bcg-white: #fffefd;
  --bcg-orange: #ff7236;
  --bcg-yellow: #fac663;
  --footer-text-gray: #8f8f8f;
  --icon-help-color: #777777;
  --dot-gray: #e1e1e1;
}
